{% extends 'dj/base.html' %}

{% block jquery_ui_css_files %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-xs-8 col-xs-offset-0 col-sm-5 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
    <h3>Forms and Messages Middleware</h3>

<form action="/dj/your-name/" method="post" novalidate>
    {% csrf_token %}
    <div class="form-group">
    {{ form.non_field_errors }}
    {{ form.your_name.label_tag }}<br>
    {{ form.your_name }}
    {% if form.your_name.errors %}
        {% for error in form.your_name.errors %}
        <div class="form-field-error"> {{ error|escape }} </div>
        {% endfor %}
    {% endif %}
    </div>

    <div class="form-group">
    {{ form.date_field.label_tag }}<br>
    {{ form.date_field }}
    {% if form.date_field.errors %}
        {% for error in form.date_field.errors %}
        <div class="form-field-error"> {{ error|escape }} </div>
        {% endfor %}
    {% endif %}
    </div>
    <button type="submit" value="Submit" class="btn btn-primary" >Submit now</button>
</form>

    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-xs-offset-0 col-sm-5 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">

    {% if messages %}
    <h5 style="margin-top:20px;">Valid fields for the form:</h5>
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>Important:</strong> {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h5 style="margin:20px 0;">No entered valid fields</h5>
    {% endif %}

    </div>
</div>


<div class="row">
    <div class="col-xs-8 col-xs-offset-0 col-sm-5 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
    <hr>
    <h3>FormSets and AJAX-driven Forms</h3>

<form action="/dj/your-name/" method="post" novalidate>
    {% csrf_token %}

    {{ ajax_formset.management_form }}
    {% for form in ajax_formset %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {% if not field.label == 'Id' %} {{ field.label_tag }} {% endif %}
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="form-field-error"> {{ error|escape }} </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    {% endfor %}

<!--        {{ form.id }}   # <<< IT IS IMPORTANT 
                {{ form.question_text }} 
                {{ form.pub_date }}
-->
<!-- {{ ajax_formset }} -->

    <button type="submit" value="Submit" class="btn btn-primary" >Submit AJAX</button>
</form>

    </div>
</div>


<div class="row">
    <div class="col-xs-8 col-xs-offset-0 col-sm-5 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3 col-lg-offset-0">
    <hr>
    <h3>ForeignKey Form</h3>

<form action="/dj/your-name/" method="post" novalidate>
    {% csrf_token %}
    <div class="form-group">
    {{ choice_form }}
    </div>
    <button type="submit" value="Submit" class="btn btn-primary" >Press it</button>
</form>

    </div>
</div>
{% endblock content %}



{% block jquery_ui_js_files %}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
{% block js_files %}
<script>
    $( document ).ready( function() {
        $( "#id_date_field" ).datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
        });
        // $( ".selector" ).datepicker( "option", { dateFormat: 'yy-mm-dd' } );

        //$( "#id_your_name, #id_date_field" ).addClass('form-control');
    });
</script>
{% endblock js_files %}
