<!--
http://chimera.labs.oreilly.com/books/1234000000754/ch11.html#_using_the_form_to_display_errors_in_the_template

        {% if form.errors %}1
            <div class="form-group has-error">
                <div class="help-block">{{ form.text.errors }}</div>2
            </div>
        {% endif %}

-->


<form action="/dj/your-name/" method="post" id="name_form" novalidate>
    {% csrf_token %}
    <div class="form-group">
    {{ form.non_field_errors }}
    {{ form.your_name.label_tag }}<br>
    {{ form.your_name }}
    {% if form.your_name.errors %}
        {% for error in form.your_name.errors %}
        <div class="form-field-error"> {{ error|escape }} </div>
        {% endfor %}
    {% endif %}
    </div>

    <div class="form-group">
    {{ form.date_field.label_tag }}<br>
    {{ form.date_field }}
    {% if form.date_field.errors %}
        {% for error in form.date_field.errors %}
        <div class="form-field-error"> {{ error|escape }} </div>
        {% endfor %}
    {% endif %}
    </div>
    <button type="submit" value="Submit" class="btn btn-primary" >Submit via AJAX</button>
</form>

