{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django test</title>

    {% block jquery_ui_css_files %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'dj/vendors/bs/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dj/vendors/bs/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dj/dj.css' %}">
</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#0c4b33;background-image:none;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Django test</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/dj/your-name/">Name</a></li>
          </ul>
        </div>
      </div>
    </nav> 

    <div class="container-fluid" role="main">
    {% block content %}{% endblock content %}
    </div> 


    <!-- ================================================== -->
    <script src="{% static 'dj/vendors/jq/jquery-1.11.1.min.js' %}"></script>
    {% block jquery_ui_js_files %}{% endblock %}
    <script src="{% static 'dj/vendors/bs/bootstrap.min.js' %}"></script>
    {% block js_files %}{% endblock %}
    <!-- ================================================== -->
</body>
</html>
