{% extends 'dj/base.html' %}

{% block jquery_ui_css_files %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-0 col-sm-8 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-0">

<form action="/dj/your-name/" method="post" novalidate>
    <div class="form-group">
    {% csrf_token %}
    {{ form.non_field_errors }}
<!--    {{ form.as_p }} -->
<!--    {{ form.your_name.errors }} -->
    {{ form.your_name.label_tag }}<br>
    {{ form.your_name }}
    {% if form.your_name.errors %}
        {% for error in form.your_name.errors %}
        <div style="color:red;font-size:10pt;font-family:Verdana;padding:5px 5px;width:240px;">{{ error|escape }}</div>
        {% endfor %}
    {% endif %}
    </div>

    <div class="form-group">
    {{ form.date_field.label_tag }}<br>
    {{ form.date_field }}
    {% if form.date_field.errors %}
        {% for error in form.date_field.errors %}
        <div style="color:red;font-size:10pt;font-family:Verdana;padding:5px 5px;width:240px;">{{ error|escape }}</div>
        {% endfor %}
    {% endif %}
    </div>
<!--
{% for field in form %}
    ...
{% endfor %}
-->
    <button type="submit" value="Submit" class="btn btn-primary" >Submit now</button>
</form>

    </div>
</div>
{% endblock content %}



{% block jquery_ui_js_files %}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
{% block js_files %}
<script>
    $( document ).ready( function() {
        $( "#id_date_field" ).datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
        });
        // $( ".selector" ).datepicker( "option", { dateFormat: 'yy-mm-dd' } );
        // <input id="id_date_field" name="date_field" type="text" value="2015-11-14" />
        $( "#id_your_name, #id_date_field" ).addClass('form-control');
    });
</script>
{% endblock js_files %}
